/* ---------------------------------------------------
    START GLOBAL STYLE
----------------------------------------------------- */

body {
    background-color: #36393e !important;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


i {
    padding-right: 15px;
    padding-left: 15px;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper {
    display: flex;
    width: 100%;
    
}



/* ---------------------------------------------------
    END GLOBAL STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    START CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100% !important;
}

/* ---------------------------------------------------
    END CONTENT STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: #1e2124;
    color: #fff;
    transition: all 0.3s;
    top: 0;
    left: 0;
    z-index: 999;
}



#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

.display-name {
    font-family: 'Great Vibes', cursive;
}


.display-name {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subtitle {
    padding-top: 20px;
    font-family: 'Average Sans', sans-serif;
    text-align: center;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #1e2124;

}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    padding: 0 15px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;

}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #36393e;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1e2124;
}

#sidebar.active {
    margin-left: -250px;

}

.image-wrapper {
    border: 2px solid #2c2f33;
    border-radius: 25px;
}

.mCS_img_loaded {
    border-radius: 290px !important;
    height: 185px !important;
    width: 100%;
    object-fit: cover;
}


.social-icons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.fab:hover {
    color: #fff !important;
}

.btn {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 250px;
    min-height: 50px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #7289da !important;
    border: 0px;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
    color: #2c2f33;
    background-color: #fff !important;
    border: 0px;
}

.btn-primary:hover {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.btn-secondary:hover {
    color: #2c2f33;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.navbar {
    background-color: #1e2124 !important;
}

p {
    color: #ffffff;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

h1 {
    color: #7289da;
    font-size: x-large;
    padding-top: 1%;
    padding-left: 1%;
}

.portfolio-container {
    background-color: #36393e !important;

}

.progress {
    margin-left: 20%;
    margin-right: 20%;
}

.about-container {
    background-color: #424549;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.education-container {
    background-color: #424549;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    border-radius: 10px;
}

.card-deck{
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 1%;
    padding-left: 1%;
}
 .card-deck p{
     color: white;
 }

 .card-deck h5{
    color: white;
}

 .card {
     background-color: #1e2124;
     border-radius: 3px;
 }

.projects-container {
    background-color: #424549;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* timeline code */

HTML SCSSResult EDIT ON html,
body {
    background-color: #424549;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.cd-container {
    width: 90%;
    max-width: 2100px;
    margin: 0 auto;
    background: #424549;
    padding: 0 10%;
    border-radius: 2px;
}

.cd-container::after {
    content: '';
    display: table;
    clear: both;
}


#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: #7289da;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    border-radius: 8px;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;

}

.cd-timeline-block:first-child {
    margin-top: 0;

}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #566cbb, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img {
    background: #7289da;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #282b30;
    border-radius: 2px;
    padding: 1em;
    border-radius: 8px;
    text-align: justify;
    text-justify: inter-word;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}


.cd-timeline-content h2{
    font-family: 'Ubuntu', sans-serif;
    color: #7289da !important;
}

.cd-timeline-content h4{
    font-size: small;
    color: rgb(179, 179, 179) !important;
}

.subtitle p{
    color: #7289da !important;
}

.timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}


i {
    margin-right: 5px;
}

.timeline-content-info-title,
.timeline-content-info-date {
    width: calc(50% - 2px);
    display: inline-block;
}

@media (max-width: 500px) {

    .timeline-content-info-title,
    .timeline-content-info-date {
        display: block;
        width: 100%;
    }
}

.content-skills {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: rgba(255, 255, 255, .9);
    margin-top: 0;
    margin-bottom: 5px;
}

.cd-timeline-content p,
.cd-timeline-content .cd-date {
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #333C42;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #333C42;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}

.about-container h2 {
    font-size: medium;
    position: absolute;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}


